
common --incompatible_strict_action_env
common --remote_cache=http://cache.rbe.ndscm.com:22243 --remote_timeout=60










build --workspace_status_command=./seed/devprod/buildinfo/generate-workspace-status.sh
